<div class="container">

  <h1 class="my-4">Races</h1>

  <div class="row">
    <% @races.each do |race| %>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <%= link_to race.name, race %>
            </h4>
            <p class="card-text">
              <%= race.description %>
              <%= race.due_date %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @races %>
</div>
