<img class="img-fluid" src="http://placehold.it/1920x1080" alt="">

<div class="container">
      <!-- Portfolio Item Heading -->
  <h1 class="my-4">
    <%= @race.name %>
    <small> <%= @race.due_date %> </small>
  </h1>

  <!-- Portfolio Item Row -->
  <div class="container">
    <h3 class="my-3">Race Description</h3>
    <p><%= @race.description %></p>
    <h3 class="my-3">Project Details</h3>
    <ul>
      <li>Lorem Ipsum</li>
      <li>Dolor Sit Amet</li>
      <li>Consectetur</li>
      <li>Adipiscing Elit</li>
    </ul>
  </div>
</div>
