<li class="nav-item">
  <%= link_to 'Races', races_path, class: "nav-link" %>
</li>
<li class="nav-item">
  <%= link_to 'About', about_path, class: "nav-link" %>
</li>
<li class="nav-item">
  <%= link_to 'Contact', contact_path, class: "nav-link" %>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Blog
  </a>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
    <a class="dropdown-item" href="blog-home-1.html">Blog Home 1</a>
    <a class="dropdown-item" href="blog-home-2.html">Blog Home 2</a>
    <a class="dropdown-item" href="blog-post.html">Blog Post</a>
  </div>
</li>
